
/* Imports */

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
@import 'https://fonts.googleapis.com/css?family=Titillium+Web'
@import 'https://fonts.googleapis.com/css?family=Cinzel'
@import 'https://fonts.googleapis.com/css?family=Open+Sans'
@import 'https://fonts.googleapis.com/css?family=Robot'
@import 'https://fonts.googleapis.com/css?family=Dorsa'
@import bourbon/bourbon
@import variables
@import mixins



/* Gallery */

*

    margin: 0
    padding: 0
    box-sizing: border-box

a

    text-decoration: none
    color: inherit 


main 

    width: 70vw
    height: 205vh
    +display(block)
    margin: 0 auto
    background: darken(#fffff0, 5%) 
    position: relative 
    box-shadow: 2px 2px 2px 0px #eee  


    header

        margin-top: 20px
        position: absolute
        top: 30px
        width: 100%


        p

            position: relative
            margin-left: -13px
            text-indent: 50px
            text-transform: uppercase
            padding: 2%
            background: steelblue
            color: #fff
            font-size: 1.8em
            font-family: 'Cinzel', serif
            border-top-left-radius: 3px
            box-shadow: 2px 2px 6px 0px #696969
            text-shadow: 1px 1px darken(steelblue,20%),2px 2px darken(steelblue, 19%),3px 3px darken(steelblue, 18%),4px 4px darken(steelblue, 17%),5px 5px darken(steelblue, 16%),6px 6px darken(steelblue, 15%),7px 7px darken(steelblue, 14%), 8px 8px darken(steelblue, 13%),9px 9px darken(steelblue, 12%)



            &:after

                content: ""
                position: absolute
                width: 0
                height: 0
                left: 0
                top: 100%
                border-right: 2vh solid lighten(steelblue, 20%)
                border-bottom: 2vh solid transparent




    .small

        +small-dimensions(250px,200px)
        overflow: hidden
        padding: 15px
        transition: all 100ms ease-out
        

    .small-modal


        width: 350px
        height: 300px
        overflow: hidden
        padding: 0
    




    .normal

    
        +normal-dimensions(500px,400px)
        overflow: hidden
        padding: 15px
    


    .large


        +large-dimensions(250px,400px)
        overflow: hidden
        padding: 15px
    


    .gallery-container 

        width: 760px
        margin: 5px auto
        padding-top: 160px
    


        img

            display: inline-block
            width: 100%
            height: 100%
            box-shadow: 0 0 0 6px #fff,0 4px 15px 5px rgba(0, 0, 0, 0.5)  

        .section

            display: flex 
            position: relative



/* Gallery Modal */


.modal

    display: none
    transition: all 200ms ease-out

    &:target

        display: block
        background: rgba(0,0,0,0.8)
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 200
      


    #close

        color: #696969
        font-size: 40px
        position: absolute
        right: 200px
        top: 30px
        display: flex
        justify-content: center

        &:hover

            color: #ccc

    .modal-images

        width: 100%
        height: 50%
        margin-top: 12%
        display: flex
        justify-content: center
        align-items: center

        a

            color: #ccc
            font-size: 40px
            text-decoration: none
            display: flex
            justify-content: center
            align-items: center
            margin: 0 30px

        a:nth-child(2)

            margin: 0
            height: 100%  
          


        img

            width: 330px
            height: 110%   
            max-width: 100%
            border: 7px solid #fff
            border-radius: 3px
            box-sizing: border-box


/* Media queries */

@media screen and (max-width: 1085px) and (min-width: 960px)

    main 

        width: 80vw

@media screen and (max-width: 959px) and (min-width: 880px)

    main 

        width: 85vw 
        height: 205vh
        +display(block)
        margin: 0 auto
        background: darken(#fffff0, 5%) 
        position: relative 
        box-shadow: none    

@media screen and (max-width: 881px)


    body

        background: darken(#fffff0, 5%)

        main 

            max-width: 100%
            height: 205vh
            +display(block)
            margin: 0 auto
            background: darken(#fffff0, 5%) 
            position: relative 
            box-shadow: none 
    

            header

                max-width: 100%
                position: relative
                left: 0
                

                p 

                    max-width: 100%
                    font-size: 1.8em
                    +display(block)
                    text-align: center
                    margin-left: 0

                    &:after

                        content: ""
                        border-right: none

            .gallery-container

                width: 100% 
                margin: 0 auto            