/* Imports */
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@import 'https://fonts.googleapis.com/css?family=Cinzel';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Robot';
@import 'https://fonts.googleapis.com/css?family=Dorsa';
/* Small images dimensions */
/* Large images dimensions */
/* Normal images dimensions */
/* Gallery */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

main {
  width: 70vw;
  height: 205vh;
  display: block;
  margin: 0 auto;
  background: #ffffd7;
  position: relative;
  box-shadow: 2px 2px 2px 0px #eee; }
  main header {
    margin-top: 20px;
    position: absolute;
    top: 30px;
    width: 100%; }
    main header p {
      position: relative;
      margin-left: -13px;
      text-indent: 50px;
      text-transform: uppercase;
      padding: 2%;
      background: steelblue;
      color: #fff;
      font-size: 1.8em;
      font-family: "Cinzel", serif;
      border-top-left-radius: 3px;
      box-shadow: 2px 2px 6px 0px #696969;
      text-shadow: 1px 1px #294d6b, 2px 2px #2b506e, 3px 3px #2c5272, 4px 4px #2e5576, 5px 5px #2f5879, 6px 6px #315a7d, 7px 7px #325d81, 8px 8px #336084, 9px 9px #356288; }
      main header p:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 100%;
        border-right: 2vh solid #8db3d3;
        border-bottom: 2vh solid transparent; }
  main .small {
    width: 250px;
    height: 200px;
    overflow: hidden;
    padding: 15px;
    transition: all 100ms ease-out; }
  main .small-modal {
    width: 350px;
    height: 300px;
    overflow: hidden;
    padding: 0; }
  main .normal {
    width: 500px;
    height: 400px;
    overflow: hidden;
    padding: 15px; }
  main .large {
    width: 250px;
    height: 400px;
    overflow: hidden;
    padding: 15px; }
  main .gallery-container {
    width: 760px;
    margin: 5px auto;
    padding-top: 160px; }
    main .gallery-container img {
      display: inline-block;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 6px #fff, 0 4px 15px 5px rgba(0, 0, 0, 0.5); }
    main .gallery-container .section {
      display: flex;
      position: relative; }

/* Gallery Modal */
.modal {
  display: none;
  transition: all 200ms ease-out; }
  .modal:target {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200; }
  .modal #close {
    color: #696969;
    font-size: 40px;
    position: absolute;
    right: 200px;
    top: 30px;
    display: flex;
    justify-content: center; }
    .modal #close:hover {
      color: #ccc; }
  .modal .modal-images {
    width: 100%;
    height: 50%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal .modal-images a {
      color: #ccc;
      font-size: 40px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 30px; }
    .modal .modal-images a:nth-child(2) {
      margin: 0;
      height: 100%; }
    .modal .modal-images img {
      width: 330px;
      height: 110%;
      max-width: 100%;
      border: 7px solid #fff;
      border-radius: 3px;
      box-sizing: border-box; }

/* Media queries */
@media screen and (max-width: 1085px) and (min-width: 960px) {
  main {
    width: 80vw; } }
@media screen and (max-width: 959px) and (min-width: 880px) {
  main {
    width: 85vw;
    height: 205vh;
    display: block;
    margin: 0 auto;
    background: #ffffd7;
    position: relative;
    box-shadow: none; } }
@media screen and (max-width: 881px) {
  body {
    background: #ffffd7; }
    body main {
      max-width: 100%;
      height: 205vh;
      display: block;
      margin: 0 auto;
      background: #ffffd7;
      position: relative;
      box-shadow: none; }
      body main header {
        max-width: 100%;
        position: relative;
        left: 0; }
        body main header p {
          max-width: 100%;
          font-size: 1.8em;
          display: block;
          text-align: center;
          margin-left: 0; }
          body main header p:after {
            content: "";
            border-right: none; }
      body main .gallery-container {
        width: 100%;
        margin: 0 auto; } }

/*# sourceMappingURL=output.css.map */
